
div.topicPage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.introductionContainer{
    margin-top: 2em;
    margin-bottom: 25em;
    width:  60em;
    height: 38em;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.introductionContainer h1{
    font-size: 30pt;
    border-bottom: 3px solid var(--secondary-dark-gray);
}

.introductionContainer img{
    width: 70%;
}

.introductionContainer p{
    position: absolute;
    width: 30em;
    bottom: 0;
    right: 0;
    background-color: white;
    color: var(--secondary-dark-gray);
    border: solid 2px var(--secondary-dark-gray);
    padding: 1em 2em;
    font-weight: bold;
    font-size: .75em;
}
