.chapterContainerLeft,.chapterContainerRight{
    margin-bottom: 25em;
    width:  60em;
    height: 38em;
    position: relative;
    display: flex;
    flex-direction: column;

}

.chapterContainerLeft h1,.chapterContainerRight h1{
    text-decoration: underline;
    font-size: 25pt;
    width: 40%;
}

.chapterContainerLeft img,.chapterContainerRight img{
    width: 40em;
    position: absolute;
    background-color: white;
    color: var(--secondary-dark-gray);
    border: solid 3px var(--secondary-dark-gray);
}

.chapterContainerLeft p,.chapterContainerRight p{
    width: 25em;
    background-color: white;
    color: var(--secondary-dark-gray);
    border: solid 2px var(--secondary-dark-gray);
    padding: 1em 2em;
    font-weight: bold;
    margin: 0;
}

.chapterContainerLeft div,.chapterContainerRight div{
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    top: 20em;
}

.chapterContainerLeft div{
    flex-direction: row-reverse;
    
}

.chapterContainerRoght div{
    flex-direction: row;
    
}


.chapterContainerLeft img{
    right: 0;
}

.chapterContainerRight img{
    left: 0;
}