.searchBar{
    position: relative;
    display: flex;
    height: 3em;
    width: 50em;
    align-items: center;
}

.searchBar input{
    align-items: center;
    border: none;
    border-radius: 35px;
    height: 100%;
    width: 100%;
    padding: 0 5vw;
}

.searchBar label, .searchBar button{
    position: absolute;
    z-index: 2;
}

.searchBar button{
    right: .5em;
    background-color: var(--primary-blue);
    color: var(--primary-white);
    height: 80%;
    width: 6em;
    border-radius: 20px;
    border: none;
}

.searchBar label{
    left: 1.5em;
    width: 1em;
}