.homePageContainer{
    padding: 55vh 0 5vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.topicItemsContainer{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-auto-rows: 20em;
    gap: 2em;
    grid-auto-flow: dense;

}